<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="marker"
         name="%marker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="problemmarker"
         name="%problemmarker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="mlm.eclipse.ide.jsworkingset.internal.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            description="%JSWorkingSet.desc"
            icon="icons/full/obj16/workset.png"
            id="mlm.eclipse.ide.jsworkingset.JSWorkingSet"
            name="%JSWorkingSet.name"
            pageClass="mlm.eclipse.ide.jsworkingset.internal.JSWorkingSetPage"
            updaterClass="mlm.eclipse.ide.jsworkingset.internal.JSWorkingSetUpdater">
      </workingSet>
   </extension>
   <extension
         point="org.eclipse.ui.trace.traceComponents">
      <component
            id="mlm.eclipse.ide.jsworkingset.traceComponent"
            label="%traceComponent.label">
         <bundle
               name="mlm.eclipse.ide.jsworkingset"></bundle>
      </component>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="mlm.eclipse.ide.jsworkingset.importWorkingSets"
            name="%importWorkingSets.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="mlm.eclipse.ide.jsworkingset.internal.ImportWorkingSetsHandler"
            commandId="mlm.eclipse.ide.jsworkingset.importWorkingSets">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="mlm.eclipse.ide.jsworkingset.importWorkingSets"
               id="importWorkingSets"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="mlm.eclipse.ide.jsworkingset.internal.ImportWizard"
            icon="icons/full/obj16/workset.png"
            id="mlm.eclipse.ide.jsworkingset.ImportWizard"
            name="%ImportWizard.name">
         <description>
            %ImportWizard.desc
         </description>
         <selection
               class="org.eclipse.core.resources.IFile"
               name="*.js">
         </selection>
      </wizard>
   </extension>

</plugin>
